.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
img{
    margin-left: 20px;
    margin-top: 50px;
    width: 65px;
    height: 65px;
}
h1,h2{
    font-family: 'Big Shoulders Display', cursive;
    margin-top: 20px;
    margin-left: 30px;
    font-size: 75px;
    color: whitesmoke;
}
p{
    color: whitesmoke;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 30px;
    margin-left: 20px;
}
.container{
    display: flex;
    margin: 100px;
    border-radius: 20px;
}
.card{
    border-radius: 5px;
}
.card-one{
    background-color: hsl(31, 77%, 52%);
    border: #5E5DF0;
    height: 700px;

    border-top-left-radius: 20px;
    border-bottom-left-radius:20px ;
}

.card-two{
    background-color:hsl(184, 100%, 22%);
    height: 700px;
}
.card-three{
    background-color:hsl(179, 100%, 13%);
    height: 700px;
    border-top-right-radius: 20px;
    border-bottom-right-radius:20px;
}
/* Button CSS */
/*Button one*/
.button-one {
    margin-top: 100px;
    background: whitesmoke;
    border-radius: 999px;
    box-shadow: #5E5DF0 0 10px 20px -10px;
    box-sizing: border-box;
    color: hsl(31, 77%, 52%);;
    cursor: pointer;
    outline: 0 solid transparent;
    padding: 25px 50px;
    border: 0;
    font-size: 20px;
    margin-left: 50px;
    font-family: 'Lexend Deca', sans-serif;
  }
  /*Button Two*/
.button-two {
    margin-top: 100px;
    background: whitesmoke;
    border-radius: 999px;
    box-shadow: #5E5DF0 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
  }
  /*Button three*/
.button-three {
    margin-top: 100px;
    background: whitesmoke;
    border-radius: 999px;
    box-shadow: #5E5DF0 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 8px 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
  }