.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
img{
    margin-left: 20px;
    margin-top: 50px;
    width: 65px;
    height: 65px;
}
h1,h2{
    font-family: 'Big Shoulders Display', cursive;
    margin-top: 20px;
    margin-left: 30px;
    font-size: 75px;
    color: whitesmoke;
}
p{
    color: whitesmoke;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 30px;
    margin-left: 20px;
    margin-right: 20px;
}
.container{
    display: flex;
    margin: 100px;
    border-radius: 20px;
}
.card{
    border-radius: 5px;
}
.card-one{
    background-color: hsl(31, 77%, 52%);
    border: #5E5DF0;
    height: 700px;

    border-top-left-radius: 20px;
    border-bottom-left-radius:20px ;
}

.card-two{
    background-color:hsl(184, 100%, 22%);
    height: 700px;
}
.card-three{
    background-color:hsl(179, 100%, 13%);
    height: 700px;
    border-top-right-radius: 20px;
    border-bottom-right-radius:20px;
}
/* Button CSS */
/*Button one*/
.button-one {
    margin-top: 100px;
    background: whitesmoke;
    border-radius: 999px;
    box-sizing: border-box;
    color: hsl(31, 77%, 52%);;
    cursor: pointer;
    outline: 0 solid transparent;
    padding: 25px 50px;
    border: 0;
    font-size: 20px;
    margin-left: 50px;
    font-family: 'Lexend Deca', sans-serif;
  }
  .button-one:hover{
    background-color: hsl(31, 77%, 52%);
    border: solid 2.5px whitesmoke;
    color: whitesmoke;
  }


  /*Button Two*/
.button-two {
    margin-top: 100px;
    background: whitesmoke;
    border-radius: 999px;
    box-sizing: border-box;
    color:hsl(184, 100%, 22%);
    cursor: pointer;
    outline: 0 solid transparent;
    padding: 25px 50px;
    border: 0;
    font-size: 20px;
    margin-left: 50px;
    font-family: 'Lexend Deca', sans-serif;
  }
  /*Button three*/
.button-three {
    margin-top: 100px;
    background: whitesmoke;
    border-radius: 999px;
    box-sizing: border-box;
    color:hsl(179, 100%, 13%);
    cursor: pointer;
    outline: 0 solid transparent;
    padding: 25px 50px;
    border: 0;
    font-size: 20px;
    margin-left: 50px;
    font-family: 'Lexend Deca', sans-serif;
  }